/* Login page */
.login_wrapper{
    width: 250px;
    margin: 50px auto;
}
.login_content div,
.login_content h1{
    text-align: center;
    margin-top: 20px;
}

span.field-validation-error{
    color: red;
}
.validation-summary-errors li{
    color: red;
}

/* -------------------------------------------------------------------------*/
.thead-inverse th {
    color: #fff;
    background-color: #373a3c;
}
.icon-help{
    position: absolute;
    display: inline-block;
    top: 6px;
    right: 0;
    font-size: 15px;
    color: #3c8dbc;
}

/* draw seat chart */

.link_icon_seat{
	position:relative;
}
.link_icon_seat .seat_number{
    position: absolute;
    left: 10px;
    top: 0;
}
.car_chart{
    width: auto;
    margin-bottom:0;
}
.car_chart tr td{
    border: none !important;
}
.icon_seat{
	width: 50px;
	height: 20px;
	background-color: white;
}
.seat_bookedSeatNotPayment{
	background-color: #C8C8C8;
}
.seat_bookedSeatPayment{
	background-color: red;
}
.seat_selecting{
	background-color: rgb(186, 223, 65);
}

/* bus station */
#bus_station_page .form-control[readonly]{
    background-color: transparent !important;
    border: none;
    box-shadow: none;
}