.login_wrapper{
    width: 250px;
    margin: 50px auto;
}
.login_content div,
.login_content h1{
    text-align: center;
    margin-top: 20px;
}

span.field-validation-error{
    color: red;
}
.validation-summary-errors li{
    color: red;
}

/* My Admin */
.thead-inverse th {
    color: #fff;
    background-color: #373a3c;
}
.icon-help{
    position: absolute;
    display: inline-block;
    top: 6px;
    right: 0;
    font-size: 15px;
    color: #3c8dbc;
}
